.frameeeChild {
  position: absolute;
  top: 272px;
  left: 0px;
  width: 116px;
  height: 121px;
  object-fit: cover;
}
.frameeeItem {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 116px;
  height: 121px;
  object-fit: cover;
}
.whoAreYou {
  position: absolute;
  top: 42px;
  left: 231px;
}
.imAPassionate {
  margin: 0;
}
.imAPassionateContainer {
  position: absolute;
  top: 249px;
  left: 231px;
}
.frameee {
  position: absolute;
  top: -534px;
  left: 0px;
  width: 1209px;
  height: 473px;
}
.whatDrivesYour {
  position: absolute;
  top: 42px;
  left: 231px;
  line-height: 99.47%;
}
.frameeeeeee {
  position: absolute;
  top: 0px;
  left: 80px;
  width: 1289px;
  height: 441px;
}
.frame {
  position: absolute;
  top: 0px;
  left: -80px;
  width: 1369px;
  height: 441px;
  overflow: hidden;
}
.frameeeeee {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1209px;
  height: 473px;
}
.frameeeee {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 441px;
}
.frame2 {
  position: absolute;
  top: 0px;
  left: 71px;
  width: 1280px;
  height: 473px;
  overflow: hidden;
}
.frame1 {
  position: absolute;
  top: 523px;
  left: -71px;
  width: 1351px;
  height: 473px;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  border: 5.1px solid var(--color-aqua);
  box-sizing: border-box;
  width: 1209px;
  height: 473px;
}
.frameeeee1 {
  position: absolute;
  top: 1147px;
  left: 0px;
  width: 1209px;
  height: 473px;
}
.frameeee {
  position: absolute;
  top: 1781px;
  left: 0px;
  width: 1209px;
  height: 473px;
}
.frame3 {
  position: absolute;
  top: 2315px;
  left: -2px;
  width: 1213px;
  height: 473px;
  overflow: hidden;
}
.inTodaysFastPacedContainer {
  position: absolute;
  top: 205px;
  left: 225px;
}
.frame4 {
  position: absolute;
  top: 3378px;
  left: -5px;
  width: 1219px;
  height: 473px;
  overflow: hidden;
}
.frame5 {
  position: absolute;
  top: 2834px;
  left: -2px;
  width: 1213px;
  height: 473px;
  overflow: hidden;
}
.rectangle1 {
  position: absolute;
  top: 1147px;
  left: 0px;
  border-radius: var(--br-8xs);
  border: 5.1px solid var(--color-aqua);
  box-sizing: border-box;
  width: 1209px;
  height: 2704px;
}
.frameeeParent {
  width: 100%;
  position: relative;
  height: 473px;
  text-align: left;
  font-size: var(--previewthemeforestnet-kumbh-sans-medium-32-size);
  color: var(--color-white);
  font-family: var(--font-jejumyeongjo);
}
